---
import Page from '../layouts/Page.astro'

import { Content } from './index.md'
import { Content as Contacts } from './components/contacts.md'
---

<Page>
    <main>
        <Content />
        <Contacts />
    </main>
</Page>
