---
import '../styles.scss'

import '@fontsource/barlow/latin.css'
import '@fontsource/bungee-inline/latin.css'
import '@fontsource/source-code-pro/latin.css'

const { title, description } = Astro.props
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.png" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <title>{title ? `${title} | Seminarietti del PHC` : 'Seminarietti del PHC'}</title>

        <!-- Open Graph Tags -->
        <meta name="description" content={description ?? 'I seminarietti del PHC sono una serie di piccoli seminari tenuti da membri del PHC.'} />

        <meta property="og:title" content={title ?? 'Seminarietti del PHC'} />
        <meta property="og:type" content="website" />
        <meta property="og:url" content={Astro.url.pathname} />
        <meta property="og:image" content="/favicon.png" />
        <meta property="og:description" content={description ?? 'I seminarietti del PHC sono una serie di piccoli seminari tenuti da membri del PHC.'} />

        <meta property="twitter:url" content={Astro.url.pathname} />
        <meta name="twitter:title" content={title ?? 'Seminarietti del PHC'} />
        <meta name="twitter:description" content={description ?? 'I seminarietti del PHC sono una serie di piccoli seminari tenuti da membri del PHC.'} />
        <meta name="twitter:image" content="/favicon.png" />
    </head>
    <body>
        <slot />
    </body>
</html>
